@{
    ViewBag.Title = "Hello";
}

<div class="jumbotron">
    <h1>Test</h1>
    <p class="lead">Testing GitHub Changes</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

